#systems {
  list-style-type: none;
  padding: 0;
  text-align: center;
  display: inline-block;
}

#systems li {
  width: 20px;
  height: 20px;
  float: left;
  padding: 2px;
  margin: 2px;
  border: 2px solid black;
  cursor: pointer;

  line-height: 20px;
  vertical-align: middle;

  font-size: 8pt;
  font-family: sans-serif;
  font-weight: normal;
}

#systems li:hover {
  font-weight: bold;
}

#systems li.infected {
  background: red;
}

#systems li.uninfected {
  background: lightgreen;
}

#stepsTaken {
  padding: 5px;
  font-size: 1.2em;
}

#autostep {
  width: 100px;
}

#sysinfo {
  height: 5em;
  background: lightgray;
}

.controls {
  width: 100%;
  text-align: center;
}

body {
}
